<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" colors="true"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd">
  <coverage>
    <include>
      <directory suffix=".php">./module/*/src</directory>
    </include>
  </coverage>
  <testsuites>

    <testsuite name="Application Test Suite">
      <directory>./tests/ApplicationTest</directory>
    </testsuite>

    <testsuite name="Billing Test Suite">
      <directory>./tests/BillingTest</directory>
    </testsuite>

    <testsuite name="Users Test Suite">
      <directory>./tests/UsersTest</directory>
    </testsuite>

  </testsuites>
</phpunit>
